
@{
    ViewBag.Title = "Index";
}

@*Para utilizar os métodos Ajax , pode ser usado dentro de _Layout*@
<script src="∼/Scripts/jquery-1.10.2.js"></script>
<script src="∼/Scripts/jquery.unobtrusive-ajax.js"></script>


<h2>Index</h2>

<div>
    @Html.ActionLink("Produtos", "Produto")
    @Html.ActionLink("Sugestões", "Sugestao")
</div>